sudo: required
language: generic

services: 
    - docker

before_install:
    - docker build -t gringlas/docker-training-react -f Dockerfile.dev .

script:
    - docker run -e CI=true gringlas/docker-training-react npm run test

deploy: 
    provider: elasticbeanstalk
    region: "eu-central-1"
    app: "docker-react"
    env: "Docker-react-env"
    bucket_name: "elasticbeanstalk-eu-central-1-715383853098"
    bucket_path: "docker-react"
    on:
        branch: master
    acces_key_id: $AWS_ACCES_KEY
    secret_access_key: 
        secure: "$AWS_SECRECT_KEY"